Package: ziacke
Name: AutoLaunch
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: AutoLaunch Crashed App!
Maintainer: ziacke
Author: ziacke
Section: Tweaks
Depends: mobilesubstrate, applist (>= 1.4.1), firmware (>= 3.0), preferenceloader
Version: 0.0.1-14+debug
Installed-Size: 152
